.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |   Continue with Github
    button.social-login--kakao
        a(href=routes.kakao)
            span
                <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
            |   Continue with Kakao