.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: $white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    .videoPlayer__column {
      span:first-child {
        margin-left: 10px;
        margin-right: 15px;
      }
      span:nth-child(2) {
        margin-right: 5px;
        i {
          width: 25px;
        }
      }
    }
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      #jsVolumeBtn {
        width: 50px;
      }
    }
    .videoPlayer__volume {
      padding: 0;
      opacity: 1;
      width: 80px;
      margin-right: 10px;
    }
    input {
      -webkit-appearance: none;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.9);
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background-color: $grey;
        height: 5px;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: $grey;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: -5px;
        position: relative;
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
