extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Video result
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                thumbnail:video.thumbnail,
                createdAt:video.createdAt,
                creatorName:video.creator.name,
                creatorId:video.creator.id,
                avatarUrl:video.creator.avatarUrl
            })
